{% extends 'extends/base.html' %}

{% block content %}
    <div class="resumes">
    <div class="res">
        <h2>Resume List</h2>
    </div>
    <div class="employer">
        {% for resume in resumes %}
            <div class="employ">
                <ul>
                    <li>
                        <a href="{% url 'resume_detail_em' pk=resume.pk %}">{{ resume.title }}<br>{{ resume.name }}<br>{{ resume.surname }}
                        </a></li>
                </ul>
            </div>
        {% endfor %}
    </div>
    </div>
{% endblock %}